

  <div  id="list-1"  [cdkDropListData]="renderList" cdkDropList  cdkDropListConnectedTo="list-2" (cdkDropListDropped)="drop($event)">
 
    <div *ngFor="let item of renderList" cdkDrag ></div>

    <div [ngSwitch]="renderList[0]">
        <div *ngSwitchCase="'Header'">Header
            <app-header></app-header>
        </div>
        <div *ngSwitchCase="'Table'">Table
            <app-table></app-table>
        </div>
        <div *ngSwitchCase="'Footer'">Footer
            <app-footer></app-footer>
        </div>
        <div *ngSwitchCase="'Time'">Time
            <app-time></app-time>
        </div>
        <div *ngSwitchCase="'DropDown'">DropDown
            <app-dropdown></app-dropdown>
        </div>
        <div *ngSwitchCase="'Spinner'">Spinner
            <app-spinner></app-spinner>
        </div>
        <div *ngSwitchCase="'Textbox'">Textbox
            <app-textbox></app-textbox>
        </div>
        <div *ngSwitchCase="'Button'">Button
            <app-button></app-button>
        </div>
        <div *ngSwitchDefault> <h3>Drag and Drop components here</h3></div>    
      </div>
  </div>
